
.my-wallet__title {
    font-family: 'Righteous', cursive;
    font-size: 110px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.488);
    margin: 0;
    padding: 0;
    line-height: 40px;
    white-space: nowrap;
    position: absolute;
    right: 80%;
    transform-origin: top right 0;
    transform: rotate( 270deg );
}
  
  