/*  Top Bar  */

.my-wallet__balance{
  width: 25em;
  height:  100px;
  text-align:center;
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-top: 0;
}
.balance_word{
  line-height:40px;
  font-size: 18px;
  font-weight:300;
}
.balance_money{
  line-height:50px;
  font-size: 30px;
  font-weight:500;
  /*color: rgba(232, 151, 52, 0.927);*/
}
